@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
    background-image: url(dark-paths.png);
    background: cover;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
}

.form {
    background-color: white;
    width: 500px;
    height: 650px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

form input {
    margin-bottom: 20px;
    padding: 12px 20px;
    border-radius: 4px;
    transform: scale(1.2);
    width: 250px;
    border: 3px solid;
}

button {
    width: 250px;
    height: 50px;
    outline: none;
    border-radius: 20px;
    border: 3px solid;
    background-color: #ffffffff;
    font-size: 1.5rem;
    transition: 0.3s;
}

button:hover {
    background-color: darkblue;
    transition: 0.3s;
    color: white;
}

#para {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    body {
        overflow: visible;
    }
    .container {
        transform: scale(0.7);
        height: auto;
    }
}